body,html{height:100%;-webkit-tap-highlight-color:transparent}
body{font-family:-apple-system-font,Helvetica Neue,Helvetica,sans-serif}
.container, .page {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.container {
	overflow: hidden;
}
.page, body {
	background-color: #f8f8f8;
}
.height100{
	height: 100%;
}
.weui-cell__bd .weui-badge{
	margin-left: 0.3rem;
}
.cursor_pointer{
	cursor: pointer;
}
.font_green{
	color: #09bb07;
}
.align_right{
	text-align: right;
}

.align_center{
	text-align: center;
}

.globl_bg_color{
	background-color: #f8f8f8 !important;
}

.mr-left1_2{
	margin-left: 1.2rem;
}
.sub_content{
	font-size: 13px;
	color: #777;
	line-height: 2;
}
.cell_swipe_btn{
	line-height: 68px;
}
.z_index100{
	z-index: 100;
}
.fit_content{
	height: fit-content;
}

.mt50{
	margin-top: 50px;
}

.mt60{
	margin-top: 60px;
}

.font_warn{
	color: red;
}

 .select_label{
    background-color: white;
    padding: 0.3rem;
    border: 1px solid #cccccc;
    border-radius: 0.2rem;
}

.select_label_checked{
    border: 1px solid #1aad19;;
    color:  #1aad19;
}

.center{
    text-align: center;
}

.inherit_bg{
	background-color: inherit !important;
}

.opacity0{
	opacity: 0;
}

.search_bar{
	padding: 8px 10px;
    box-sizing: border-box;
    background-color: #efeff4;
}

.search_label{
	border-radius: 3px;
    text-align: center;
    color: #9b9b9b;
    background: #fff;
    cursor: pointer;
}



@-webkit-keyframes share_card {
  0% {
    -webkit-transform: translate(-50px, 50px);
    -moz-transform: translate(-50px, 50px);
    -ms-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px);
    opacity: 0; }
  50% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(50px, -50px);
    -moz-transform: translate(50px, -50px);
    -ms-transform: translate(50px, -50px);
    transform: translate(50px, -50px);
    opacity: 0; } }
@-moz-keyframes share_card {
  0% {
    -webkit-transform: translate(-50px, 50px);
    -moz-transform: translate(-50px, 50px);
    -ms-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px);
    opacity: 0; }
  50% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(50px, -50px);
    -moz-transform: translate(50px, -50px);
    -ms-transform: translate(50px, -50px);
    transform: translate(50px, -50px);
    opacity: 0; } }
@-ms-keyframes share_card {
  0% {
    -webkit-transform: translate(-50px, 50px);
    -moz-transform: translate(-50px, 50px);
    -ms-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px);
    opacity: 0; }
  50% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(50px, -50px);
    -moz-transform: translate(50px, -50px);
    -ms-transform: translate(50px, -50px);
    transform: translate(50px, -50px);
    opacity: 0; } }
@keyframes share_card {
  0% {
    -webkit-transform: translate(-50px, 50px);
    -moz-transform: translate(-50px, 50px);
    -ms-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px);
    opacity: 0; }
  50% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate(50px, -50px);
    -moz-transform: translate(50px, -50px);
    -ms-transform: translate(50px, -50px);
    transform: translate(50px, -50px);
    opacity: 0; } }

    .an_share_card1 {
  -webkit-animation: share_card 1s linear infinite both;
  -moz-animation: share_card 1s linear infinite both;
  -ms-animation: share_card 1s linear infinite both;
  animation: share_card 1s linear infinite both; }

.an_share_card2 {
  -webkit-animation: share_card 1s 0.2s linear infinite both;
  -moz-animation: share_card 1s 0.2s linear infinite both;
  -ms-animation: share_card 1s 0.2s linear infinite both;
  animation: share_card 1s 0.2s linear infinite both; }

.an_share_card3 {
  -webkit-animation: share_card 1s 0.5s linear infinite both;
  -moz-animation: share_card 1s 0.5s linear infinite both;
  -ms-animation: share_card 1s 0.5s linear infinite both;
  animation: share_card 1s 0.5s linear infinite both; }

.an_share_card4 {
  -webkit-animation: share_card 1s 0.7s linear infinite both;
  -moz-animation: share_card 1s 0.7s linear infinite both;
  -ms-animation: share_card 1s 0.7s linear infinite both;
  animation: share_card 1s 0.7s linear infinite both; }
.share_card1 {
  width: 100%;
  position: absolute;
  top: 6.5rem; }

.share_card2 {
  width: 100%;
  position: absolute;
  top: 9.125rem; }

.share_card3 {
  width: 100%;
  position: absolute;
  top: 2.175rem; }

.share_card4 {
  width: 100%;
  position: absolute;
  top: 8.6rem; }

.share_card6 {
  width: 100%;
  position: absolute;
  top: 3.05rem; }

.share_card5 {
  width: 100%;
  position: absolute;
  top: 7.45rem; }

.share_card7 {
  width: 100%;
  position: absolute;
  top: 14.75rem; }

  .share_layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  display: none; }
  .share_layer img{
  	width: 120%;
  }